{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="static/login.css">
<a href="https://front.codes/" class="logo" target="_blank">
    <img src="https://assets.codepen.io/1462889/fcy.png" alt="">
</a>
<form method="POST">
    <div>{{ form.csrf_token }}</div>
    <!--input type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off" -->
    <!--i class="input-icon uil uil-at"></i-->
    <!--input type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off"-->
    {{form.password(class_="form-style", placeholder="Your Password")}}
    {{form.username(class_="form-style", placeholder="Your Login")}}
    <!--i class="input-icon uil uil-lock-alt"></i-->
    <!--a href="#" class="btn mt-4">submit</a-->
    {{form.submit(class_="btn mt-4")}}
    <p class="mb-0 mt-4 text-center"><a href="/registration" class="link">Registration</a></p>
</form>
{% endblock %}